---
// components/Header.astro
---

<header
  class="flex justify-between items-center w-full px-10 py-3 bg-[#172034]"
>
<a href="/" class="flex items-center">
  <img
    src="/guidance new logo.png"
    alt="Guidance Logo"
    class="h-14 w-auto"
  />
</a>

  <nav class="flex space-x-6">
    <a href="/docs" class="text-gray-200 font-medium hover:text-[#9334E9]"
      >Docs</a
    >
    <a href="/blog" class="text-gray-200 font-medium hover:text-[#9334E9]"
      >Blog</a
    >
    <a href="/benchmarks" class="text-gray-200 font-medium hover:text-[#9334E9]"
      >Benchmarks</a
    >
  </nav>

  <div>
    <a
      href="https://github.com/guidance-ai/guidance"
      target="_blank"
      class="text-gray-200 font-medium hover:text-[#9334E9]"
    >
      GitHub →
    </a>
  </div>
</header>
