<section class="mt-20 flex flex-col items-center text-center space-y-6">
    <h1
      class="pb-2 text-4xl sm:text-5xl font-extrabold leading-relaxed text-transparent bg-gradient-to-r from-[#D4F5D0] via-[#A8DBFA] to-[#635FE2] bg-clip-text "
    >
      The Most Advanced Control Layer<br />
      for Large Language Models
    </h1>
  
    <p class="text-lg text-gray-200 max-w-2xl">
      Constrain generation, guarantee structure, and run anywhere.
    </p>
  
    <div class="flex flex-col sm:flex-row items-center justify-center gap-4 pt-2">
        <!-- Get Started -->
        <a
          href="/docs"
          class="px-6 py-3 rounded-md font-semibold text-[#A8DBFA] border border-[#A8DBFA] bg-[#a8dbfa1a] backdrop-blur-md shadow-[0_0_12px_#a8dbfa33] hover:bg-[#a8dbfa33] hover:shadow-[0_0_16px_#a8dbfa88] transition"
        >
          Get Started
        </a>
      
        <!-- Try Playground -->
        <!-- <a
          href="/playground"
          class="px-6 py-3 rounded-md font-semibold text-[#D4F5D0] border border-[#D4F5D0] bg-[#d4f5d017] backdrop-blur-md shadow-[0_0_12px_#d4f5d055] hover:bg-[#d4f5d035] hover:shadow-[0_0_16px_#d4f5d088] transition"
        >
          Try Playground
        </a> -->
      </div>
      
    </div>
  </section>